{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@app": "./src/app",
          "@core": "./src/core",
          "@features": "./src/features",
          "@icons": "./src/core/assets/icons",
          "@package.json": "./package.json",
          "@screens": "./src/screens"
        }
      }
    ]
  ]
}